# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:

- Scala
- Julia
- Python

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
    
    1. Pandas
    2. Matplotlib
    3. Numpy

|Data Science Tools|
|------------------|
|Jupyter lab|
|VS code|
|Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
x = 3
y = 4
z = 5

a = (x*y)+z
print (a)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

m = 200
h = 60

c = m/h

print (c)

3.3333333333333335

## Author
Junaid Akram